version: "3.9"

services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: unless-stopped
    volumes:
      - ollama_data:/root/.ollama
    # Quand tu voudras tester Ollama avec GPU aussi, tu pourras ajouter :
    # gpus: all

  rag_app:
    build: .
    container_name: rag_medieval_app
    restart: unless-stopped
    ports:
      - "8501:8501"
    environment:
      - OLLAMA_URL=http://ollama:11434
    depends_on:
      - ollama
    # ⬇️ Préparation pour le GPU
    gpus: all

volumes:
  ollama_data:
